Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck-docs, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Add uv dependency in more places
  .pre-commit-config.yaml
Due: actionlint

Try to fix CI workflow
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: actionlint

Make it possible to run sample builds without activating an environment
  Makefile
Due: none

Progress towards working on fixing CI
  .github/workflows/ci.yml
Due: actionlint

Fix hook stage
  .github/workflows/ci.yml
Due: actionlint

Use 'lowest-direct' uv resolution
  .github/workflows/ci.yml
Due: actionlint

Pin build and check-wheel-contents
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use uv instead of 'build' for building
  .github/workflows/release.yml
Due: actionlint

Use uv instead of 'build' for building
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Simplify python version writing for uv
  .github/workflows/ci.yml
Due: actionlint

Use environment variables to remove duplication in uv commands
  .github/workflows/ci.yml
  src/sphinx_substitution_extensions/spelling_private_dict.txt
Due: actionlint

Update release process to support >= 10 releases in a day
  .github/workflows/release.yml
Due: actionlint

Format some yaml files
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: actionlint

Add more pre-commit hooks
  .checkmake-config.ini
  .pre-commit-config.yaml
  .yamlfmt
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Configure docformatter
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update pre-commit.ci ignore list
  .pre-commit-config.yaml
Due: actionlint

Fix hook name
  .pre-commit-config.yaml
Due: actionlint

Fix dependency name
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix dependencies sort order
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Do not expect new config files in manifest
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove checkmake - it is flaky on Windows
  .checkmake-config.ini
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add yamlfix hook
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove yamlfmt
  .yamlfmt
Due: none

Add Windows support
  .gitattributes
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add support for Python 3.13
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.rst
  pyproject.toml
Due: actionlint, shellcheck-docs, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Move shellcheck settings to rc file
  .pre-commit-config.yaml
Due: actionlint

Bump doccmd
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove doc8 ignore which is no longer needed
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Configure VSCode to run tests in its UI
  .vscode/settings.json
Due: none

Move mypy file definitions to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

No need to give directory to check-manifest
  .pre-commit-config.yaml
Due: actionlint

Fix the version in Sphinx to be the last released version
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add stub for myst_sub_delimiters test
  tests/test_substitution_extensions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add failing test for default myst sub delimiters
  tests/test_substitution_extensions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards passing test for MyST custom sub delimiters
  src/sphinx_substitution_extensions/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate

Passing basic test
  src/sphinx_substitution_extensions/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add test for custom myst_sub_delimiters
  tests/test_substitution_extensions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add CHANGELOG entry for myst_sub_delimiters support
  CHANGELOG.rst
Due: shellcheck-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Clarify test names
  tests/test_substitution_extensions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate
