Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, pyright, vulture, pyroma, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix, doc8, pyproject-fmt-check, pyproject-fmt-fix

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: mypy .
  language: system
  pass_filenames: false

pyright:
  name: pyright
  stages:
  - push
  entry: pyright .
  language: system
  pass_filenames: false

vulture:
  name: vulture
  entry: vulture --min-confidence 100 --exclude .eggs
  language: system

pyroma:
  name: pyroma
  entry: pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff check
  entry: ruff check
  language: system

ruff-format-check:
  name: Ruff format check
  entry: ruff format --check
  language: system

ruff-check-fix:
  name: Ruff check fix
  entry: ruff check --fix
  language: system

ruff-format-fix:
  name: Ruff format
  entry: ruff format
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pyproject-fmt-check:
  name: pyproject-fmt check
  entry: pyproject-fmt --check
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

Use types_or for better pre-commit matching
  .pre-commit-config.yaml
Due: actionlint

Add more pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint

Simplify pre-commit install process
  .pre-commit-config.yaml
  CONTRIBUTING.rst
Due: actionlint, doc8

Add interrogate tool
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Add interrogate tool requirement
  .pre-commit-config.yaml
Due: actionlint

Limit interrogate files run against in pre-commit
  .pre-commit-config.yaml
Due: actionlint

Add interrogate requirement
  pyproject.toml
Due: pyroma, pyproject-fmt-check, pyproject-fmt-fix

Undo bad formatting
  pyproject.toml
Due: pyroma, pyproject-fmt-check, pyproject-fmt-fix

Update VWS links to work again
  requirements.txt
  resolved-requirements.txt
  src/.DS_Store
Due: none

Install check-wheel-contents before attempting to use it in release process
  .github/workflows/release.yml
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: actionlint, vulture, pyroma, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix, pyproject-fmt-check, pyproject-fmt-fix

Undo WIP change
  src/sphinx_substitution_extensions/__init__.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Remove pyright ignores and workarounds
  src/sphinx_substitution_extensions/__init__.py
  src/sphinx_substitution_extensions/extras.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Update type hints to reflect most recent types-docutils changes
  src/sphinx_substitution_extensions/__init__.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Remove unnecessary intermediary variables
  src/sphinx_substitution_extensions/__init__.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Add comment about using build env parser
  src/sphinx_substitution_extensions/__init__.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Remove unnecessary duplication of setting option_spec
  src/sphinx_substitution_extensions/__init__.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Remove sphinx-prompt dependency
  CHANGELOG.rst
  README.rst
  pyproject.toml
  sample/source/index.rst
  src/sphinx_substitution_extensions/__init__.py
  src/sphinx_substitution_extensions/extras.py
  tests/test_substitution_extensions_extras.py
Due: vulture, pyroma, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix, doc8, pyproject-fmt-check, pyproject-fmt-fix

Enable running the pre-commit checks on pre-commit CI which do not require system Python
  .pre-commit-config.yaml
Due: actionlint

Bump CHANGELOG
  CHANGELOG.rst
Due: doc8

Use typeguard to check pytest fixture/parametrization types
  pyproject.toml
Due: pyroma, pyproject-fmt-check, pyproject-fmt-fix

Move comment
  pyproject.toml
Due: pyroma, pyproject-fmt-check, pyproject-fmt-fix

Switch from typeguard to beartype
  pyproject.toml
  spelling_private_dict.txt
  tests/conftest.py
Due: vulture, pyroma, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix, pyproject-fmt-check, pyproject-fmt-fix

Remove from __future__ import annotations
  src/sphinx_substitution_extensions/__init__.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Use runtime type checking
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: vulture, pyroma, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix, pyproject-fmt-check, pyproject-fmt-fix

Require more modern beartype
  pyproject.toml
Due: pyroma, pyproject-fmt-check, pyproject-fmt-fix

Use keyword arguments in more places for better type checker errors
  tests/test_substitution_extensions.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Progress towards test
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: vulture, ruff-check, ruff-format-check, ruff-check-fix, ruff-format-fix

Show ruff format diff if there are issues
  .pre-commit-config.yaml
Due: actionlint

Run pytest against current directory, not tests directory
  .github/workflows/ci.yml
Due: actionlint

Add shellcheck pre-commit hook
  .pre-commit-config.yaml
Due: actionlint

Fix the GitHub workflow badge to refer to the right branch
  README.rst
Due: doc8

Specify Python module use in pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint

Switch from code to code-block, for consistency
  CONTRIBUTING.rst
  README.rst
  uv.lock
Due: doc8

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$ and \.toml$
  pyright: any of: \.py$ and \.toml$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  pyproject-fmt-check: any of: pyproject.toml and \.toml$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
