Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  ty: any of: \.py$, \.toml$
  ty-docs: any of: \.(md|markdown|mdown)$, \.rst$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Restore Sphinx's include-read event (#1637)
  newsfragments/1634.bugfix.rst
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Preserve substitutions for returned include nodes
  newsfragments/1634.bugfix.rst
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Keep nested parser includes unsubstituted
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Replace equivalence tests with TOML cases
  spelling_private_dict.txt
  tests/equivalence_cases.toml
  tests/test_equivalence_cases.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Resolve parser include paths through Sphinx
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Replace equivalence tests with TOML cases (#1639)
  spelling_private_dict.txt
  tests/equivalence_cases.toml
  tests/test_equivalence_cases.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate

Document nested include substitution behavior
  newsfragments/1634.bugfix.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Preserve substitutions for returned include nodes (#1638)
  newsfragments/1634.bugfix.rst
  src/sphinx_substitution_extensions/__init__.py
  tests/equivalence_cases.toml
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Bump August dependency releases
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump August dependency releases (#1643)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Switch pre-commit config from YAML to prek.toml
  .pre-commit-config.yaml
  prek.toml
  pyproject.toml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Allow decorator application under mypy-strict-kwargs 2026.8.20.1
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump mypy-strict-kwargs to 2026.8.25
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump to mypy-strict-kwargs 2026.8.25.1
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Make towncrier reject invalid fragment suffixes
  newsfragments/1554.change.rst
  newsfragments/1632.change.rst
  newsfragments/1633.change.rst
  newsfragments/1634.change.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Adapt code role call to updated docutils stubs
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Make pyrefly error on unused ignore comments
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Use the pyrefly strict preset
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Use the pyrefly strict preset (#1707)
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Use PEP 735 dependency groups
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.rst
  prek.toml
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Enable all Pyrefly errors
  pyproject.toml
  spelling_private_dict.txt
  src/sphinx_substitution_extensions/__init__.py
  tests/test_equivalence_cases.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Use Ty's strictest recommended configuration
  pyproject.toml
  spelling_private_dict.txt
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Configure checker-specific ignore comments
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Use one sentence per line in documentation
  CONTRIBUTING.rst
  README.rst
  newsfragments/1633.change.rst
  newsfragments/1634.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use one sentence per line in documentation (#1713)
  CONTRIBUTING.rst
  README.rst
  newsfragments/1633.change.rst
  newsfragments/1634.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Enforce semantic line breaks with Snapper
  .github/workflows/semantic-line-breaks.yml
  .snapperrc.toml
Due: actionlint, mypy, pyright, ty, pyroma, yamlfix

Run Snapper through Prek
  .github/workflows/semantic-line-breaks.yml
  prek.toml
  pyproject.toml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Normalize Snapper configuration
  .snapperrc.toml
Due: mypy, pyright, ty, pyroma

Isolate the Snapper dependency group
  prek.toml
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Enable Snapper Vale rules
  .vale.ini
  styles/snapper/LongProseLine.yml
  styles/snapper/SemanticLineBreaks.yml
Due: actionlint, yamlfix

Use the Snapper 0.11.0 release
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Use the development dependency group for Snapper
  prek.toml
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Validate Sphinx runtime values
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Ban operator.attrgetter
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Use single-line reStructuredText comments
  .snapperrc.toml
  sample/source/index.rst
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Ban operator.attrgetter (#1716)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Avoid mutable role defaults
  newsfragments/1717.change.rst
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Avoid mutable role defaults (#1717)
  newsfragments/1717.change.rst
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint
