Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --ignoreexternal --verifytypes sphinx_substitution_extensions
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

ty:
  name: ty
  stages:
  - pre-push
  entry: uv run --extra=dev ty check
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

ty-docs:
  name: ty-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="ty check"
  language: python
  additional_dependencies:
  - uv==0.9.5

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="vulture"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

Replace pytest-beartype-tests with pytest-beartype
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Link Beartype follow-up to source workaround
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Clarify Beartype import checking prerequisites
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Require Beartype 0.23.0rc2 or newer
  newsfragments/beartype-minimum.change.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Check recursive substitution values with the TypeAliasType backport
  newsfragments/beartype-minimum.change.rst
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Clarify the recursive alias static-checking comment
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Update mypy to 2.4.0
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Configure Mypy parallelism in pyproject.toml
  prek.toml
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Check pytest parametrization with mypy-pytest-parametrize
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Move coverage settings into pyproject.toml
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Use module-level test functions for Karva preparation
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Organize test functions into files by behavior
  tests/test_myst.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use module-level test functions (#1777)
  tests/test_myst.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Mark descriptive news fragments as orphan entries
  newsfragments/+beartype-minimum.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Allow cancelled completion jobs to stop
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint, yamlfix

Bump CHANGELOG
  changelog/2026.10.09.md
  newsfragments/+beartype-minimum.change.md
  newsfragments/+native-markdown.change.md
  newsfragments/1554.change.md
  newsfragments/1632.change.md
  newsfragments/1633.change.md
  newsfragments/1634.change.md
  newsfragments/1717.change.md
  newsfragments/1718.change.md
  newsfragments/1722.change.md
  newsfragments/1723.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Run validation workflows for stacked pull requests
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  newsfragments/+bd2f9c18.change.md
Due: actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs, yamlfix

Require released Beartype 0.23.0
  newsfragments/+beartype-0.23.change.md
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs, pyproject-fmt-fix

Enable package checks for runtime TypeAliasType aliases
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Keep release notes compatible with documentation lint
  newsfragments/+beartype-0.23.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Show tracebacks for Mypy crashes
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Generate release notes with semantic line breaks
  .github/towncrier_template.md.jinja
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Format release notes with Snapper after Towncrier
  .github/towncrier_template.md.jinja
  .github/workflows/release.yml
  pyproject.toml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Format current changelog with the CI Snapper settings
  changelog/2026.10.09.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Format release changelog for CI
  changelog/2026.10.09.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Run validation workflows for stacked pull requests (#1788)
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  newsfragments/+bd2f9c18.change.md
Due: actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs, yamlfix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  ty: any of: \.py$, \.toml$
  ty-docs: any of: \.(md|markdown|mdown)$, \.rst$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
