Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --ignoreexternal --verifytypes sphinx_substitution_extensions
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

ty:
  name: ty
  stages:
  - pre-push
  entry: uv run --extra=dev ty check
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

ty-docs:
  name: ty-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="ty check"
  language: python
  additional_dependencies:
  - uv==0.9.5

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="vulture"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

Fix zizmor issues in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Add zizmor for GitHub Actions security linting (#1307)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  zizmor.yml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Fix release.yml: remove persist-credentials and suppress artipacked rule
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint, yamlfix

Fix release.yml: remove persist-credentials and suppress artipacked rule (#1308)
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint, yamlfix

Switch from pre-commit to prek
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Omit UV_RESOLUTION in Lint step
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Switch from pre-commit to prek (#1312)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Make prettier more compatible with yamlfix
  .prettierrc
Due: none

Fix prettier config
  .prettierrc
Due: none

Make zizmor collection strict
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Fix zizmor warning in release workflow
  .github/workflows/release.yml
Due: actionlint, yamlfix

Fix zizmor warning in release workflow (#1317)
  .github/workflows/release.yml
Due: actionlint, yamlfix

Fix block scalar newline interpretation in release workflow
  .github/workflows/release.yml
Due: actionlint, yamlfix

Fix block scalar newline interpretation in release workflow (#1318)
  .github/workflows/release.yml
Due: actionlint, yamlfix

Use literal block scalar for changelog replace string
  .github/workflows/release.yml
Due: actionlint, yamlfix

Use literal block scalar for changelog replace string (#1319)
  .github/workflows/release.yml
Due: actionlint, yamlfix

Add failing test
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make test pass
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Simplify docstring
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove useless comments
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make test more robust
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add changelog entry
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use bash shell for Lint step to ensure early failure
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Replace docformatter with pydocstringformatter
  .pre-commit-config.yaml
  pyproject.toml
  sample/source/__init__.py
  sample/source/conf.py
  src/sphinx_substitution_extensions/__init__.py
  src/sphinx_substitution_extensions/shared.py
  tests/__init__.py
  tests/conftest.py
  tests/test_substitution_extensions.py
Due: actionlint, docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, yamlfix

Remove --example-workers 0 due to mypy bug (#1354)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Remove --example-workers 0 only from mypy-docs hook
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Add comment explaining why --example-workers 0 is not used for mypy-docs
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Fix: Remove --example-workers 0 only from mypy-docs (#1355)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Support Python 3.14
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Add ty error-on-warning and disable type: ignore support
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Apply pyproject-fmt formatting
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Apply ruff 0.15.0 style fix
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Work around toml-fmt array comment bugs
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.0 and apply formatting
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.0 (#1370)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.2
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.2 (#1371)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Update pyproject-fmt to 2.15.2
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Update pyproject-fmt to 2.15.2 (#1376)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  ty: any of: \.py$, \.toml$
  ty-docs: any of: \.(md|markdown|mdown)$, \.rst$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
