Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  ty: any of: \.py$, \.toml$
  ty-docs: any of: \.(md|markdown|mdown)$, \.rst$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Narrow equivalence case values
  tests/test_equivalence_cases.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add changelog entry
  newsfragments/1718.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Narrow equivalence case values (#1718)
  newsfragments/1718.change.rst
  tests/test_equivalence_cases.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Type code role option keys
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Type code role option keys (#1719)
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use Snapper 0.11.1
  .snapperrc.toml
  prek.toml
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Use Snapper 0.11.1 (#1720)
  .snapperrc.toml
  prek.toml
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Type MyST delimiter pairs precisely
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Inline delimiter sequence validation
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Type MyST parsing contexts explicitly
  newsfragments/1722.change.rst
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Type substitution option names
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add news fragment
  newsfragments/1723.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Type MyST delimiter pairs precisely (#1721)
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Type substitution option names (#1723)
  newsfragments/1723.change.rst
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Type MyST parsing contexts explicitly (#1722)
  newsfragments/1722.change.rst
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Use precise directive option types
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add missing Beartype decorators
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Share the option spec alias and link the Sphinx fix
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump setup-uv to v10.1.0
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Preserve support files in rebuilt source distributions
  MANIFEST.in
Due: none

Evaluate equivalence test annotations at runtime
  tests/test_equivalence_cases.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Keep annotation cleanup independent of manifest changes
  MANIFEST.in
Due: none

Identify development-only files in manifest checks
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Document transient Vale download failures
  prek.toml
Due: mypy, pyright, ty, pyroma

Document required test suppressions
  tests/conftest.py
  tests/test_equivalence_cases.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Load Sphinx pytest fixtures from environment
  .github/workflows/ci.yml
  CONTRIBUTING.rst
  pyproject.toml
  tests/conftest.py
Due: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Link publish_doctree suppression to upstream issue
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Revert "Load Sphinx pytest fixtures from environment"
  .github/workflows/ci.yml
  CONTRIBUTING.rst
  pyproject.toml
  tests/conftest.py
Due: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Restore pytest configuration from main
  tests/conftest.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump doccmd for typed click-compose callbacks
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Update doccmd and click-compose to 2026.9.16.1
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Test invalid equivalence manifests and remove coverage pragmas
  tests/test_equivalence_cases.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use published publish_doctree return type
  pyproject.toml
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Link publish_doctree typing follow-up
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Enable every ty rule
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump actionlint-py to 1.7.12.25
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump actionlint-py to 1.7.12.25 (#1755)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Update Pylint to 4.0.9
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Remove released publish_doctree typing workaround
  pyproject.toml
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Remove obsolete Mypy faster-cache extra
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix
