Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Use new way of specifying license
  LICENSE
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Run pre-commit hooks on only one stage each
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Remove direct pyenchant dependency now that 3.3.0 supports the latest macOS
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Make pylint spelling dependency explicit
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove Codecov - it is flaky and doesn't provide much value
  .github/workflows/ci.yml
  README.rst
  build-sample/.doctrees/environment.pickle
  build-sample/.doctrees/five.doctree
  build-sample/.doctrees/four.doctree
  build-sample/.doctrees/index.doctree
  build-sample/.doctrees/markdown_sample.doctree
  build-sample/.doctrees/one.doctree
  build-sample/.doctrees/three.doctree
  build-sample/.doctrees/two.doctree
  build-sample/index.spelling
  codecov.yaml
  pyproject.toml
  sample/source/spelling_wordlist.txt
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix

Undo unnecessary change
  build-sample/.doctrees/environment.pickle
  build-sample/.doctrees/five.doctree
  build-sample/.doctrees/four.doctree
  build-sample/.doctrees/index.doctree
  build-sample/.doctrees/markdown_sample.doctree
  build-sample/.doctrees/one.doctree
  build-sample/.doctrees/three.doctree
  build-sample/.doctrees/two.doctree
  build-sample/index.spelling
Due: none

Remove unnecessary change
  sample/source/spelling_wordlist.txt
Due: none

Add MIT License to the project
  LICENSE
Due: none

Add .prettierrc configuration
  .prettierrc
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove Makefile and replace make commands with direct equivalents
  .github/workflows/ci.yml
  Makefile
Due: actionlint, yamlfix

Bump uv to 0.9.5
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Bump uv to 0.9.5 (#1241)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Add --no-write-to-file flag for read-only doccmd commands
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Bump doccmd to 2025.11.8.1 and sybil-extras to 2025.11.8
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump dependencies
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add --example-workers 0 to read-only doccmd hooks
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Give version in extension metadata
  CHANGELOG.rst
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Fix test_setup to avoid double setup() call
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add literalinclude directive with :substitutions: option
  CHANGELOG.rst
  README.rst
  sample/source/index.rst
  sample/source/sample_include.txt
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Fix mypy type errors in SubstitutionLiteralInclude
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove comments
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Test for an edge case
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove redundant check
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove hasattr
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Simplify node processing
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix pylint
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove nesting of helper
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use keyword arguments for node.replace
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Share substitution logic
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use beartype on all helper functions
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary line that could cause unintended substitutions
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use beartype on all helpers
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Support substitutions in literalinclude path
  CHANGELOG.rst
  sample/source/index.rst
  src/sphinx_substitution_extensions/__init__.py
  src/sphinx_substitution_extensions/shared.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Remove some unnecessary tests
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Less hardcoding option name
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Simplify changelog entry
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Document new options
  README.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Fix bad sample
  sample/source/sample_include.txt
Due: none
