Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --ignoreexternal --verifytypes sphinx_substitution_extensions
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

ty:
  name: ty
  stages:
  - pre-push
  entry: uv run --extra=dev ty check
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5

ty-docs:
  name: ty-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="ty check"
  language: python
  additional_dependencies:
  - uv==0.9.5

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --no-write-to-file --example-workers 0 --language=python --command="vulture"
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.9.5
  stages:
  - pre-commit

Add pyrefly non-exhaustive match as error
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Enable coverage report.show_missing
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Enable coverage report.show_missing (#1382)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Enforce keyword-only arguments
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Enforce keyword-only arguments (#1391)
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use native pytest TOML configuration
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Use native pytest TOML configuration (#1392)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Use keyword-only parameters in tests
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use keyword-only parameters in tests (#1393)
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump doccmd to 2026.3.1 and requires-python to >=3.11
  CHANGELOG.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Remove Python 3.10 from CI matrix and update README
  .github/workflows/ci.yml
  README.rst
Due: actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Pin Sphinx to <9 for sphinx_toolbox compatibility
  CHANGELOG.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Move Sphinx <9 upper bound to dev deps only
  CHANGELOG.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Move Sphinx <9 upper bound to dev deps only (#1403)
  CHANGELOG.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Apply pyproject-fmt 2.18 inline table key reordering
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Add completion-lint job
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Separate lint into lint.yml workflow
  .github/workflows/lint.yml
Due: actionlint, yamlfix

Fix zizmor lint: upgrade to 1.23.1, disable superfluous-actions and secrets-outside-env
  pyproject.toml
  zizmor.yml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Remove secrets-outside-env disable, add environment to jobs that use secrets
  zizmor.yml
Due: actionlint, yamlfix

Fix zizmor lint (#1419)
  pyproject.toml
  zizmor.yml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Add Hypothesis property-based tests for substitution logic
  pyproject.toml
  tests/test_hypothesis.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Fix mypy errors in hypothesis tests
  tests/test_hypothesis.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Suppress pyright reportPrivateUsage for test import
  tests/test_hypothesis.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove unused dependabot/fetch-metadata step
  .github/workflows/dependabot-merge.yml
Due: actionlint, yamlfix

Move release and tag version into env vars to prevent template injection
  .github/workflows/release.yml
Due: actionlint, yamlfix

Enable template-injection rule in zizmor config
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint, yamlfix

Move release and tag version into env vars to prevent template injection (#1429)
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint, yamlfix

fix: use pull_request.user.login instead of github.actor for bot check (fixes adamtheturtle/literalizer#146)
  .github/workflows/dependabot-merge.yml
  zizmor.yml
Due: actionlint, yamlfix

Apply pyproject-fmt 2.20.0 formatting
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

chore: rename deptry pep621_dev_dependency_groups
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Pin pytest-beartype-tests to git revision (Sybil-safe)
  pyproject.toml
  tests/conftest.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Pin pytest-beartype-tests to 2026.4.20 on PyPI
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Remove empty [tool.uv] table left after dropping git source override
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Pin pytest-beartype-tests to 2026.4.20 on PyPI (#1473)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

chore: define uv version once in pre-commit config
  .pre-commit-config.yaml
Due: actionlint, yamlfix

chore: define uv version once in pre-commit config (#1477)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

chore: bump uv to 0.11.7 for pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint, yamlfix

chore: bump uv to 0.11.7 for pre-commit hooks (#1478)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Bump sphinx-toolbox to RC and adopt Sphinx 9 range.
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump sphinx-toolbox to RC and adopt Sphinx 9 range. (#1487)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  ty: any of: \.py$, \.toml$
  ty-docs: any of: \.(md|markdown|mdown)$, \.rst$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
