Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.4.25

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.4.25

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.4.25

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.4.25

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.4.25

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.4.25

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --ignoreexternal --verifytypes sphinx_substitution_extensions
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.4.25

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.4.25

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --language=python --command="vulture"
  language: python
  additional_dependencies:
  - uv==0.4.25

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.4.25

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.4.25

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.4.25

ruff-format-fix:
  name: Ruff format
  entry: uv run --extra=dev -m ruff format
  language: python
  additional_dependencies:
  - uv==0.4.25

ruff-format-fix-docs:
  name: Ruff format docs
  entry: uv run --extra=dev doccmd --language=python --no-pad-file --command="ruff format"
  language: python
  additional_dependencies:
  - uv==0.4.25

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv==0.4.25

Switch testing style away from parsing HTML
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix error in sample
  sample/source/index.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Require and give substitution-download the same classes as `download`
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix issue in sample - we were giving `rest-example` a language which was interpreted as content
  sample/source/index.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Fix typo
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Update some test docstrings to be more reflective of the test goal
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add failing test
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Work around beartype + myst-parser issue
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Start of factoring out options to get delimiter pairs and substitution defs to reusable helpers
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards supporting substitution-code in Markdown
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix a test
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Document substitution-code for MyST in README
  CHANGELOG.rst
  README.rst
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs

Add substitution-code to sample
  sample/source/markdown_sample.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Ignore pyright error
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Ignore spelling issue
  spelling_private_dict.txt
Due: none

Add documentation for substitution-download
  CHANGELOG.rst
  README.rst
  sample/source/markdown_sample.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Progress
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Passing ruff
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove now-unnecessary pyright ignores
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Drop support for Python 3.10
  .github/workflows/ci.yml
  CHANGELOG.rst
  README.rst
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Remove unnecessary strategy from release.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Make sure GitHub releases are marked as latest
  .github/workflows/release.yml
Due: actionlint, yamlfix

Error in release process if trying to commit changes and there are none
  .github/workflows/release.yml
Due: actionlint, yamlfix

Enable the uv cache in CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Use sphinx-pyproject to remove duplication
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump uv in pre-commit
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Pip freeze for debugging
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Try not to pin Sphinx
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump Sphinx requirement
  README.rst
  pyproject.toml
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Have ruff infer Python version from pyproject.toml
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove unnecessary extra option
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Make it easier to change the build matrix while still keeping builds required
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Support Python 3.10
  .github/workflows/ci.yml
  CHANGELOG.rst
  README.rst
  pyproject.toml
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix

Bump mypy-strict-kwargs
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Remove now-unnecessary wheel build dependency
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Switch LICENSE to MIT
  LICENSE
Due: none

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
