Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --ignoreexternal --verifytypes sphinx_substitution_extensions
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --language=python --command="vulture"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

ruff-format-fix:
  name: Ruff format
  entry: uv run --extra=dev -m ruff format
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

Fix mypy
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove comments
  src/sphinx_substitution_extensions/__init__.py
  src/sphinx_substitution_extensions/shared.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove duplication of option name
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add substitutions_default_enabled configuration option
  CHANGELOG.rst
  src/sphinx_substitution_extensions/__init__.py
  src/sphinx_substitution_extensions/shared.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Apply default substitutions to literalinclude and document feature
  CHANGELOG.rst
  README.rst
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
  src/sphinx_substitution_extensions/shared.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Remove comments
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Replace getattr with direct attribute access
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Break out checks for whether we should apply substitutions
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix pylint
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix test on Windows
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add path substitutions for images
  CHANGELOG.rst
  README.rst
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Add images to the samples
  sample/source/Eleanor_diagram.png
  sample/source/index.rst
  sample/source/markdown_sample.md
  sample/source/sample_image.png
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix pyright and use more useful sample image
  sample/source/Eleanor_diagram.png
  sample/source/index.rst
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Remove some comments
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add Markdown examples for new directive support
  sample/source/markdown_sample.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Add include directive
  README.rst
  sample/source/index.rst
  sample/source/markdown_sample.md
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Add Markdown examples for new directive support
  sample/source/Talya.txt
  sample/source/Talya_diagram.png
  sample/source/markdown_sample.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add .prettierrc configuration (#1277)
  .prettierrc
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add validation for gha-find-replace actions
  .github/workflows/release.yml
Due: actionlint, yamlfix

Add validation for gha-find-replace actions (#1280)
  .github/workflows/release.yml
Due: actionlint, yamlfix

Bump beartype to 0.22.9
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add ty to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Add failing test
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix failing test
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Handle empty file in literalinclude
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Avoid modifying the base CodeBlock
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

We need to have the extension loaded to use nosubstitutions
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary changes
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add Claude Code LSP plugin for Python (pyright)
  .claude/plugins/pyright-lsp/.claude-plugin/plugin.json
  .claude/plugins/pyright-lsp/.lsp.json
Due: none

Add pyrefly and pyrefly-docs configuration
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Fix pyrefly
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix type checkers
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix verifytypes
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump dependencies
  .claude/settings.json
Due: none

Add zizmor for GitHub Actions security linting
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Add zizmor config and ignore in check-manifest
  pyproject.toml
  zizmor.yml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
