Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  ty: any of: \.py$, \.toml$
  ty-docs: any of: \.(md|markdown|mdown)$, \.rst$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

ci: bump astral-sh/setup-uv from v7 to v8.1.0
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Bump mypy dependency to 2.0.0.
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump mypy dependency to 2.0.0. (#1494)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Enable mypy parallel workers in pre-commit
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Normalize mypy worker flags in pre-commit hooks.
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Add strict-kwargs as a local pre-commit hook (dev dependency)
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Fix strict-kwargs dev dependency alphabetical order
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Fix malformed dev dependencies list in pyproject.toml
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Bump strict-kwargs to 2026.5.18.post1 and revert Python changes
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Add strict-kwargs pre-commit hook in fix mode (#1508)
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Bump strict-kwargs and use diff mode
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, ty, pyroma, pyproject-fmt-fix, yamlfix

Ban dynamic builtins and typing.cast in lint config.
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Drive changelog releases from towncrier
  .github/workflows/release.yml
  CHANGELOG.rst
  newsfragments/+migrated-next-2.change.rst
  newsfragments/+migrated-next.change.rst
  newsfragments/.gitkeep
  pyproject.toml
  towncrier_template.rst.jinja
Due: actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, ty, ty-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Add towncrier to release extra
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Make useless Pylint suppressions fail lint
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Apply pyproject-fmt 2.23.0 formatting changes.
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Fix pre-commit hook for strict-kwargs 2026.6.4 CLI change
  .pre-commit-config.yaml
Due: actionlint, yamlfix

feat: add support for nested substitutions
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

feat: add support for list substitutions
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

refactor: require prefix argument for _flatten_substitutions
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

refactor: drop type-ignore comments in _flatten_substitutions
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

refactor: use match statement in _flatten_substitutions
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

docs: add nested substitutions examples to README
  README.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

test: add edge case coverage for nested substitutions
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

refactor: change dicts to dictionaries in test_myst_empty_containers
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

refactor: document why beartype is skipped for Substitutions
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

refactor: simplify _flatten_substitutions by removing prefix param
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

feat: validate substitution keys cannot contain dots
  README.rst
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Address review feedback on nested substitutions
  README.rst
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

fix: satisfy pylint and RST lint on nested-substitutions
  README.rst
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

feat: add support for nested substitutions (#1552)
  README.rst
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/+migrated-next-2.change.rst
  newsfragments/+migrated-next.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ty-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Remove obsolete bdist_wheel.universal setting.
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Remove obsolete bdist_wheel.universal setting. (#1593)
  pyproject.toml
Due: mypy, pyright, ty, pyroma, pyproject-fmt-fix

Configure Ruff 0.16 defaults
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Configure doc8 custom ignores
  CONTRIBUTING.rst
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, ty, ty-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Update include directive changes for current main
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Cover include outside Sphinx
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate

Avoid unknown spelling in test docs
  tests/test_substitution_extensions.py
Due: docformatter, mypy, pyright, pyright-verifytypes, ty, vulture, ruff-check-fix, ruff-format-fix, interrogate
