Repository adamtheturtle/sphinx-substitution-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, pyright, vulture, pyroma, ruff-check, ruff-format-diff, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-check, pyproject-fmt-fix

actionlint:
  name: actionlint
  entry: python -m actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: python -m mypy .
  language: system
  pass_filenames: false

pyright:
  name: pyright
  stages:
  - push
  entry: python -m pyright .
  language: system
  pass_filenames: false

vulture:
  name: vulture
  entry: python -m vulture --min-confidence 100 --exclude .eggs
  language: system

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff check
  entry: python -m ruff check
  language: system

ruff-format-diff:
  name: Ruff format diff
  entry: python -m ruff format --diff
  language: system

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: system

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: system

doc8:
  name: doc8
  entry: python -m doc8
  language: system

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: system

pyproject-fmt-check:
  name: pyproject-fmt check
  entry: python -m pyproject-fmt --check
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: python -m pyproject-fmt
  language: system

Do not include lock file on git, at least for now
  uv.lock
Due: none

Use shell rather than bash for instructions
  CONTRIBUTING.rst
  README.rst
  sample/source/index.rst
  tests/test_substitution_extensions.py
Due: mypy, pyright, vulture, ruff-check, ruff-format-diff, ruff-check-fix, ruff-format-fix, doc8, interrogate

Be careful when releasing to not accidentally commit to a file
  .github/workflows/release.yml
Due: actionlint

Add docs pre-commit checks
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Fix more lint issues
  README.rst
Due: doc8

Bump doccmd to support Python 3.10
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Remove pre-commit check-only hooks when we have an auto-fixer
  .pre-commit-config.yaml
Due: actionlint

Add shellcheck-py so that GitHub workflow files get linted for shell issues
  .gitignore
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Remove no-longer-needed handling of .eggs directory in Vulture
  .pre-commit-config.yaml
Due: actionlint

Remove requirement to have 100% confidence that code is dead to report it
  .pre-commit-config.yaml
Due: actionlint

Use vulture on docs
  .pre-commit-config.yaml
Due: actionlint

Ignore vulture errors
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Add more fixes for vulture
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
  src/sphinx_substitution_extensions/shared.py
Due: mypy, pyright, vulture, pyroma, ruff-check, ruff-format-diff, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-check, pyproject-fmt-fix

Fix how we are running vulture
  .pre-commit-config.yaml
  src/sphinx_substitution_extensions/shared.py
Due: actionlint, mypy, pyright, vulture, ruff-check, ruff-format-diff, ruff-check-fix, ruff-format-fix, interrogate

Simplify release script by removing unnecessary intermediary variables
  .github/workflows/release.yml
Due: actionlint

Simplify release script by removing unnecessary git fetch tags command
  .github/workflows/release.yml
Due: actionlint

Add back required part of the command
  .github/workflows/release.yml
Due: actionlint

Test shell snippets in documentation code blocks
  .pre-commit-config.yaml
Due: actionlint

Remove duplicate shellcheck pre-commit
  .pre-commit-config.yaml
Due: actionlint

Fix pylint issues
  pyproject.toml
  src/sphinx_substitution_extensions/__init__.py
Due: mypy, pyright, vulture, pyroma, ruff-check, ruff-format-diff, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-check, pyproject-fmt-fix

Undo unnecessary changes
  src/sphinx_substitution_extensions/__init__.py
Due: mypy, pyright, vulture, ruff-check, ruff-format-diff, ruff-check-fix, ruff-format-fix, interrogate

Add check-json and meta pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint

Fix indentation
  .pre-commit-config.yaml
Due: actionlint

Remove ignores of deprecated ruff rules
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Add shfmt to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Update shfmt command to work on more inputs
  .pre-commit-config.yaml
Due: actionlint

Update calling method for shellcheck shell option to be consistent amoung projects
  .pre-commit-config.yaml
Due: actionlint

Exclude shellcheck error which prevents it from working on Windows
  .pre-commit-config.yaml
Due: actionlint

Ignore D004 errors in doc8 so it works on Windows
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Use setup-uv GitHub Action
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint

Fix indentation
  .github/workflows/ci.yml
Due: actionlint

Move release dependencies to pyproject.toml
  .github/workflows/release.yml
  pyproject.toml
Due: actionlint, mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Ignore release dependency group in deptry
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Bump pyenchant to a macOS ARM compatible RC
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-check, pyproject-fmt-fix

Update pre-commit config
  .pre-commit-config.yaml
Due: actionlint

Use new hook stage names
  .github/workflows/ci.yml
  CONTRIBUTING.rst
Due: actionlint, doc8

Switch pre-commit to Python language
  .pre-commit-config.yaml
Due: actionlint

Switch some hooks to use uv
  .pre-commit-config.yaml
Due: actionlint

Add uv dependency in more places
  .pre-commit-config.yaml
Due: actionlint

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check: any of: \.py$
  ruff-format-diff: any of: \.py$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  pyproject-fmt-check: any of: pyproject.toml and \.toml$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
